{% extends "base.twig" %}

{% block content %}
  <section class="header">
    <nav>
      <a href="https://github.com/jverneaut/kehl" target="_blank">
        <span>Code source</span>
        <img src="/github.svg" alt="">
      </a>
    </nav>
  </section>

  <section class="main main--{{ results[0] < results[1] ? 'closed' : 'open' }}">
    {% if error %}
      <div class="message message--error">
        <h3>Une erreur s'est produite lors de l'envoi de ta demande. Merci de réessayer ultérieurement.</h3>
      </div>
    {% endif %}

    {% if voted %}
      <div class="message message--voted">
        <h3>Merci pour ton vote. Il a bien été pris en compte dans le résultat final.</h3>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <h1>Est-ce qu'on peut aller à Kehl ?</h1>
        <h2>{{ content }}</h2>
      </div>
    </div>
  </section>

  <section class="vote">
    <h4>Votes dans les dernières 48h</h4>
    <div class="vote__btns">
      <a href="#" class="vote__btn vote__btn--approve{{ results[0] > results[1] ? ' vote__btn--active' : '' }}" data-value="yes">
        <span>{{ results[0] }}</span>
        <span>C'est ouvert</span>
      </a>
      <a href="#" class="vote__btn vote__btn--deny{{ results[0] < results[1] ? ' vote__btn--active' : '' }}" data-value="no">
        <span>{{ results[1] }}</span>
        <span>C'est fermé</span>
      </a>
    </div>

    <p>
      <strong>{{ count }}</strong>
      <span>votes au total</span>
    </p>

    <form action="/" method="POST">
      <input type="hidden" name="vote">
      {{ recaptcha }}
    </form>
  </section>

  <section class="graph">
    <canvas></canvas>
  </section>

  <section class="footer">
    <p>
      <span>Développé en Alsace par les cerveaux derrière</span>
      <a href="http://www.strasbourre.fr" target="_blank">StrasBourre.</a>
    </p>
  </section>

  <script>
    window.votes = {{ votes|json_encode }}
  </script>
{% endblock %}
